*,
*:before,
*:after {
  box-sizing: border-box;
}

.card-scene {
  width: 23rem;
  height: 30rem;
  perspective: 600px;
  animation: cardAppear 1.4s forwards;
  margin-right: 2rem;
  margin-bottom: 2rem;
  transition: transform 5s;

  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently
                                supported by Chrome, Opera and Firefox */
}
.card-scene:hover{
  filter: saturate(110%);
  cursor: pointer;
}

@keyframes cardAppear {
  0% {
    transform: rotate3d(0, 0, 1, 15deg) translate3d(0, -100vh, 0);
  }
  30% {
    transform: rotate3d(0, 0, 0, 0deg) translate3d(0, 0, 0);
  }
  65% {
    transform: rotate3d(0, 0, 0, 0deg) translate3d(0, 0, 0) scale3d(1, 1, 1);
  }
  80% {
    transform: rotate3d(0, 0, 1, -5deg) scale3d(1.05, 1.05, 1);
  }
}
.card {
  height: 100%;
  width: 100%;
  position: relative;
  transform-style: preserve-3d;
  transform: rotateY(180deg);
}
.card.card--flipped {
  animation: cardFlip 0.275s forwards linear;
}
.card.card--unflip {
  animation: cardUnFlip 0.275s forwards linear;
}

@keyframes cardFlip {
  0% {
    transform: rotateZ(0deg) rotateY(180deg);
  }
  50% {
    transform: rotateZ(-10deg) rotateY(90deg);
  }
  100% {
    transform: rotateZ(0deg) rotateY(0deg);
  }
}
@keyframes cardUnFlip {
  0% {
    transform: rotateZ(0deg) rotateY(0deg);
  }
  50% {
    transform: rotateZ(-10deg) rotateY(90deg);
  }
  100% {
    transform: rotateZ(0deg) rotateY(180deg);
  }
}
.card-backing {
  position: absolute;
  z-index: 4;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  transform: rotateY(180deg);
}
.card-backing .top-banner {
  position: relative;
  z-index: 1;
  background-color: var(--color-backing-top);
  width: 100%;
  height: 5.85rem;
  border-radius: 3px 3px 0 0;
}
.card-backing .back-main {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  width: 100%;
  background: var(--color-backing-light1);
  background: linear-gradient(
    135deg,
    var(--color-backing-light1) 0% 25%,
    var(--color-backing-light2) 25% 50%,
    var(--color-backing-light3) 50% 75%,
    var(--color-backing-light4) 75%
  );
  z-index: 1;
  border-radius: 0 0 3px 3px;
  overflow: hidden;
}

.card-face {
  position: absolute;
  backface-visibility: hidden;
  box-shadow: 0 0 3px 1px #4e4e4e;
  width: 23rem;
  height: 30rem;
  border-radius: 9px;
  overflow: hidden;

  border: 0.5rem solid var(--color-bone);
}

@media screen and (min-width: 370px) {
  html {
    font-size: 62.5%;
  }
}
